*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url("Images/home_bg.jpeg");
    background-size: cover;
    position: relative;
}
main ul li{
    list-style-type: none;
    display: inline-block;
    color: white;
    padding-right: 50px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.links{
    position: relative;
    z-index: 4;
}
main ul li a {
    color: white;
    text-decoration: none;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.089);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.img{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
img{
    width: 100px;
    height: 100px;
}
h1{
    font-size: 45px;
    color: white;
    word-spacing: 10px;

}
.s1{
    color: rgb(230, 203, 51);
}
.p-del{
    color: white;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.btn1{
    border: none;
    background: none;
    border-radius: 10px;
    color:white;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    margin-top: 25px;
}
.btn1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px rgba(255, 230, 0, 0.8);
    background: linear-gradient(90deg, #ffe600, #ffb300);
    transition: 0.4s ease;
}

main ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s; 
}
@media (max-width: 992px) {
    .img {
        position: absolute;
        top: 15px;
        left: 20px;
        width: auto;
    }

    .img img {
        width: 90px;
        height: 90px;
    }

    .links {
        position: absolute;
        top: 15px;
        right: 30px;
        transform: scale(0.9);
    }

    main ul li {
        padding-right: 20px;
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
        transition: font-size 0.3s ease;
    }

    .p-del {
        font-size: 17px;
        transition: font-size 0.3s ease;
    }

    .btn1 {
        width: 130px;
        height: 42px;
        font-size: 15px;
        transition: all 0.3s ease;
    }
}

@media (max-width: 768px) {
    .img {
        position: absolute;
        top: 15px;
        left: 15px;
        width: auto;
    }

    .img img {
        width: 80px;
        height: 80px;
    }

    .links {
        position: absolute;
        top: 15px;
        right: 15px;
        transform: scale(0.85);
    }

    main ul li {
        padding-right: 15px;
        font-size: 16px;
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        text-align: center;
    }

    h1 {
        font-size: 32px;
        transition: font-size 0.3s ease;
    }

    .p-del {
        font-size: 15px;
        transition: font-size 0.3s ease;
    }

    .btn1 {
        width: 120px;
        height: 40px;
        font-size: 14px;
        transition: all 0.3s ease;
    }
}

/* ---------------------------------------SECTION2----------------------------------------------------*/
.section2{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #f4f4f4;
}
.h2-section2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 32px
}
.p-lover{
    text-align: center;
    font-size: 17px;
    color: gray;
    padding-top: 10px;
}
.title-2{
    background: #f4f4f4;
}
.food-img ,.food-information{
    height: 500px;
    width: 500px;
    margin: auto;
}
.food-information{
    margin-top:30px;
    margin-left: 180px;
}
.food-img{
    display: flex;
    justify-content: center;
    margin-right: 130px;
    margin-top: 10px;
}
.food-img img{
   width: 350px;
   height: 350px;
   margin-top:75px;
}
.history-lorem{
    color: gray;
    font-size: 18px;
    width: 100%;
    padding-top: 70px;
}
.btn2{
    background-color: black;
    color: white;
    width:120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .h2-section2 {
        font-size: 38px;
    }
    .p-lover {
        font-size: 16px;
    }
    .food-img {
        transform: translateX(-20px);
    }
    .food-img img {
        width: 320px;
        height: 320px;
    }
    .food-information {
        margin-left: 140px;
    }
}

@media (max-width: 992px) {
    .h2-section2 {
        font-size: 35px;
    }
    .p-lover {
        font-size: 15px;
    }
    .food-img {
        transform: translateX(-50px);
    }
    .food-img img {
        width: 280px;
        height: 280px;
    }
    .food-information {
        margin-left: 110px;
    }
}

@media (max-width: 768px) {
    .h2-section2 {
        font-size: 32px;
    }
    .p-lover {
        font-size: 14px;
    }
    .food-img {
        transform: translateX(-80px);
    }
    .food-img img {
        width: 240px;
        height: 240px;
    }
    .food-information {
        margin-left: 80px;
    }
    .history-lorem {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .section2 {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }
    .food-img {
        transform: translateX(-120px);
    }
    .food-img img {
        width: 190px;
        height: 190px;
    }
    .food-information {
        margin-left: 50px;
    }
    .h2-section2 {
        font-size: 28px;
    }
    .p-lover {
        font-size: 13px;
    }
    .history-lorem {
        font-size: 14px;
    }
}
/* ----------------------------------------SECTION3-------------------------------------------------- */
#cont1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Images/offer-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#cont2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Images/offer-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
/* ------------------------------------------------Third Step-------------------------------------------------------- */
.last-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Images/offer-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
/* -------------------------------------------------Buttons----------------------------------------------------------- */
#right1,#right2,#right3{
    position:relative;
    left: 590px;
    bottom: 100px;
}
#left1,#left2,#left3{
    position: relative;
    right: 590px;
    bottom: 100px;
}
/* ------------------------------------------SECTION4------------------------------------------------ */
.section3{
    height: 145vh;
    width: 100%;
    background: #f4f2ed;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
.title2{
    text-align: center;
    background: #f4f2ed;
}
.h2-3{
    font-size: 40px;
    padding-top: 30px;
}
.p-sale{
    color: gray;
    padding-top: 10px;
}
.container1-section3 ,.container2-section3{
    height: 100%;
    width: 550px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container1-section3{
    margin-left: 100px;
}
.img-menu img{
    border: none;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.img-menu img:hover{
    transform: rotate(360deg);
    transition: 1.5s;
    box-shadow: 0 0 10px 5px rgb(255, 166, 0);

}
.h3-menu{
    color: black;
    display: inline-block;
}
.container-content{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.span-text{
    color: rgb(255, 217, 0);
    font-size: 20px;
    padding-left: 200px;
}
.text-menu{
    height: fit-content;
    width: fit-content;
    margin-left: 20px;
}
.text-menu2 hr{
    margin-top: 10px;
}
.p-lorem-menu{
    padding-top: 10px;
}
.btn3{
    border: none;
    width: 150px;
    margin-top: -10px;
    color: white;
    background-color: rgb(255, 187, 0);
    height: 40px;
    border-radius: 12px;
}
.btn-3{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    margin-left: 200px;
}
@media (max-width: 1024px) {
    .section3 {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 50px;
        height: auto;
        padding: 30px 20px;
    }

    .container1-section3,
    .container2-section3 {
        width: 80%; 
        margin: 0 auto;
        gap: 30px;
    }

    .span-text {
        padding-left: 0;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    .btn-3 {
        justify-content: center;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    section3 {
        grid-template-columns: 1fr;
        row-gap: 40px;
        padding: 20px 15px;
    }

    .container1-section3,
    .container2-section3 {
        width: 95%;
        margin: 0 auto;
        gap: 20px;
    }

    .img-menu img {
        width: 70px;
        height: 70px;
    }

    .h3-menu {
        font-size: 16px;
    }

    .span-text {
        font-size: 16px;
        padding-left: 0;
    }

    .text-menu,
    .text-menu2 {
        margin-left: 0;
        width: 100%;
    }

    .btn3 {
        width: 120px;
        height: 35px;
    }

    .btn-3 {
        justify-content: center;
        margin-left: 0;
    }
}
/* -------------------------------------------SECTION5--------------------------------------------- */
.section5{
    height: 40vh;
    width: 100%;
    background-image: url("Images/daytime_bg.jpeg");
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}
.section5 div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 div h3{
    font-size: 25px;
    padding-top: 15px;
}
.section5 div p{
    color: white;
    padding-top: 5px;
    font-size: 18px;
}
/* ---------------------------------------------SECTION6-------------------------------------------- */
.section6{
    height: 100vh;
    width: 100%;
    background-image: url("Images/offer-background.jpg");
    background-size: cover;
    position: relative;
}
.section6 h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}
.section6 .img-gallery img {
    margin: 20px;
    width: 280px;
    height: 200px;
    border-radius: 15px;
}
.img-gallery{
    display: grid;
    grid-template-columns:repeat(3,300px);
    width: 100%;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}
/* -------------js edit---------- */
.overlay{
    width: 70%;
    height: 70%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.644);
}
.img1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    bottom: 18px;
    z-index: -343;
}
.btn-left{
    position: relative;
    left:400px;
    top: 200px;
    z-index: 1000;
}
.btn-right{
    position: relative;
    right: 400px;
    bottom: 10px;
    z-index: 1000;
    top: 183px;
}
#img2 ,#img3,#img4,#img5,#img6{
    display: none;
}
/* Tablets */
@media (max-width: 1024px) {
    .section6 h2 {
        font-size: 32px;
        padding-top: 30px;
    }

    .img-gallery {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        column-gap: 15px;
        row-gap: 15px;
        justify-content: center;
        width: 90%;
        margin: 20px auto 0 auto;
    }

    .img-gallery img {
        width: 100%;
        height: auto;
        max-width: 220px;
        border-radius: 15px;
    }
}
@media (max-width: 768px) {
    .section6 h2 {
        font-size: 28px;
        padding-top: 20px;
    }

    .img-gallery {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;
        width: 95%;
        margin: 15px auto 0 auto;
    }

    .img-gallery img {
        width: 100%;
        height: auto;
        max-width: 150px;
        border-radius: 15px;
    }
}
/* ----------------------------------------SECTION7-------------------------------------------------- */
.section7{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    background: #f4f2ed;
}
.section7 div{
    width: 300px;
    height:100%;
    margin-top: 50px;
}
.info h2{
   font-size: 27px; 
   padding-top: 15px;
   text-transform: uppercase;
}
.info p{
    padding-left: 30px;
    padding-top: 15px;
    color: gray;
}
.info{
    margin-left: 150px;
}
.data-entry{
    margin-right: 150px;
}
input,textarea{
    background-color: rgb(211, 211, 211);
    padding: 15px;
    width: 400px;
    margin-top: 15px;
    border: none;
}
.btn4{
    border: none;
    width: 130px;
    height: 40px;
    color: white;
    background-color: rgb(255, 196, 0);
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.a-icon {
    display: inline-flex;      
    justify-content: center;
    align-items: center;
    background-color:rgb(68, 67, 67);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;    
    margin-left: 10px;  
}
.a-icon i{
    color:white;
    font-size: 20px;
    padding-left:2px;
}
.a-icon1{
    margin-left:20px;
}
p i{
    color: rgb(255, 196, 0);
}
@media (max-width: 1024px) {
    .section7 {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        padding: 20px 40px;
        height: auto;
    }
    .info {
        margin-left: 50px;
    }
    .data-entry {
        margin-right: 50px;
    }
    input, textarea {
        width: 90%;
        padding: 12px;
    }
    .info h2 {
        font-size: 24px;
        padding-top: 10px;
    }
    .info p {
        padding-left: 15px;
        padding-top: 10px;
        font-size: 14px;
    }
    .a-icon {
        width: 35px;
        height: 35px;
    }
    .a-icon i {
        font-size: 18px;
    }
    .btn4 {
        width: 120px;
        height: 35px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .section7 {
        grid-template-columns: 1fr; 
        row-gap: 20px;
        padding: 20px;
        height: auto;
    }
    .info, .data-entry {
        margin: 0 auto;
        width: 90%;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
    }

    .info h2 {
        font-size: 22px;
        padding-top: 8px;
    }

    .info p {
        padding-left: 0;
        padding-top: 8px;
        font-size: 13px;
    }

    .a-icon {
        width: 30px;
        height: 30px;
    }

    .a-icon i {
        font-size: 16px;
        padding-left: 0;
    }

    .btn4 {
        width: 100px;
        height: 35px;
        font-size: 13px;
    }
}
/* -----------------------------------------Footer----------------------------------------------------- */
footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/offer-background.jpg");
    background-size: cover;
    color: white;
}
footer p{
    font-size: 17px;
}
footer span{
    font-weight: bold;
    font-size: 18px;
}